footer {
    background-color: #121212;
    font-size: 14px;
    color: #ffffff;
    padding: 1rem;
}

.titulo-footer {
    color: #ffffff;
    font-size: 22px;
}

.redes-sociais {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
}

.icones a {
    display: inline-block;
    justify-content: center;
    padding: 10px 6px;
    transition: transform 0.3s ease;
}

.icones a:hover {
    transform: translateY(-5px);
}

.email {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    color: #fff;
}

.email:hover {
    color: rgb(0,140,255);
}

.whatsapp-button {
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    position: fixed;
    right: 70px;
    bottom: 8rem;
    transition: opacity 0.3s ease;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.whatsapp-button:hover {
    opacity: 0.8;
}

.whatsapp-button:hover::after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.whatsapp-button:hover::after {
    opacity: 1; 
}

.fa-whatsapp {
    font-size: 24px;
    color: white;
    transition: transform 0.3s ease;
}

.whatsapp-button:hover .fa-whatsapp {
    transform: translateY(-5px);
}
