.navbar {
    background-color: rgb(200, 0, 0);
}

/* Altera a cor do link na barra de navegação para branco */

.navbar-nav a {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: rgb(0,140,255) !important;
}

.navbar-btn {
    font-size: 12px;
    padding: 10px 10px !important;
    margin-bottom: 1.5rem;
}